#header{
	color:#5d81c7;
	font-family: 'Baloo', cursive;
	text-align: center;
}

#background{
	background: url("../images/backgroundImage.jpg") no-repeat center center fixed;
	margin-bottom: 0px;
	padding-bottom: 0px;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	
}

#valueProp{
	color: white;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}

#betaBeg{
	color: white;
	text-align: center;
	font-family: 'Hammersmith One', sans-serif;

}

#betaBegText{
	color: white;
	text-align: center;
	font-family: 'Hammersmith One', sans-serif;
}

#firstName{
	background: rgba(252, 252, 252, .85);
	padding-right: 10px;
	border-radius: 1px;
	font-family: 'Hammersmith One', sans-serif;
	margin-right:5px;
	 border-style: solid;
    border-color: grey;
    color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}




#dob{
	color: white;
	text-align: center;
	font-family: 'Hammersmith One', sans-serif;
	padding-top: 20px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    black !important;
     opacity:  .85;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    black !important;
   opacity:  .85;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    black !important;
   opacity:  .85;
}
:-ms-input-placeholder{ /* Internet Explorer 10-11 */
   color:    black !important;
    opacity:  .85;
}


#submitButton{
	border-radius: 1px;
	background-color: #8cf5ff;
	color: black;
	font-family: 'Montserrat', sans-serif;
	font-size: 25px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#submitButton:hover{
	border-radius: 2px;
	background-color: #5d81c7;
	color: white;
}

#schpeel{
	color: white;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	display:block;
	margin: auto;
	text-align: center;
}

#socialProofBar{
	
	margin-top: 0px;
	padding-top:0px;
}

.socialProofText{
	text-align: center;
	color: grey;
	font-family: 'Montserrat', sans-serif;
}

.proofIcon{
	display: block;
	margin: auto;
}

