#header{
	color:#5d81c7;
	font-family: 'Baloo', cursive;
	text-align: center;

}

#background{
	background: url("../images/backgroundImage.jpg") no-repeat center center fixed;
	margin-bottom: 0px;
	padding-bottom: 0px;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	
}

#valueProp{
	color: white;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}

#betaBeg{
	color: white;
	text-align: center;
	font-family: 'Hammersmith One', sans-serif;

}

#betaBegText{
	color: white;
	text-align: center;
	font-family: 'Hammersmith One', sans-serif;
}

#firstName{
	background-color: white;
	padding-right: 10px;
	border-radius: 25px;
	font-family: 'Hammersmith One', sans-serif;
	margin-right:5px;

}

#surname{
	background-color: white;
	padding-left: 10px;
	font-family: 'Hammersmith One', sans-serif;
}

.datepicker{
	color: lightgrey;
}

#submitButton{
	border-radius: 25px;
	background-color: #8cf5ff;
	color: grey;
	font-family: 'Montserrat', sans-serif;
	font-size: 25px;
}

#submitButton:hover{
	border-radius: 25px;
	background-color: #5d81c7;
	color: white;
}

#schpeel{
	color: white;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	display:block;
	margin: auto;
	text-align: center;
}

#socialProofBar{
	
	margin-top: 0px;
	padding-top:0px;
}

.socialProofText{
	text-align: center;
	color: grey;
	font-family: 'Montserrat', sans-serif;
}

.proofIcon{
	display: block;
	margin: auto;
}

